.FurtherInfoElement {
    height: 100%;
}

.FurtherInfoElement .CurrentTime {
    text-align: right;
    margin-right: 25px;
}

.FurtherInfoElement .Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 5px;
    width: 100%;
    /* height: 90%; */
}

.FurtherInfoElement .Content .Element {
    background-color: var(--bg-light);
    width: 125px;
    height: 100px;
    border-radius: 5px;
}