.OtherMetricsElement {
    height: 18%;
}

.OtherMetricsElement .Container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.OtherMetricsElement .OtherMetric {
    width: 200px;
    height: 90%;
    background-color: var(--bg-light);
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.OtherMetricsElement .OtherMetric img,
.OtherMetricsElement .OtherMetric p {
    display: block;
    width: 50%;
}

.OtherMetricsElement .OtherMetric img {
    width: 20%;
    filter: invert(1);
}