@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg-dark: rgba(0, 0, 0, 0.3);
  --bg: rgb(11, 11, 11);
  --bg-light: rgba(22, 22, 22, 0.658);
  --text: rgb(242, 242, 242);
  --text-muted: rgb(177, 177, 177);
  --highlight: rgb(99, 99, 99);
  --border: rgb(72, 72, 72);
  --border-light: rgba(95, 95, 95, 0.6);
  --border-muted: rgb(46, 46, 46);
}

* {
  transition: 0.2s ease;
}

a:hover, 
button:hover{
  cursor: pointer;
}

html, body {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background-image: url(assets/Backgrounds/BackgroundCloudy.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: var(--text);
}

/* MAIN STYLES */
main {
  width: 550px;
  height: 600px;

  background-color: var(--bg-dark);
  backdrop-filter: blur(5px);

  border-radius: 5px;
  border-top: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .LeftSide,
main .RightSide {
  width: 90%;
  height: 96%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ElementStyles {
  width: 100%;
  background-color: var(--bg-dark);
  backdrop-filter: blur(5px);

  border-radius: 5px;
  border-top: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);
}